* {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon-card {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #27dae73a;
    text-align: center;
  }
  

  
  .pokemon-name {
    font-size: 16px;
    margin-top: 8px;
    color: #333;
  }
  